@tailwind base;
@tailwind components;
@tailwind utilities;

.DM_SANS{
  font-family: var(--font-dm_sans);
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(226, 221, 221, 0.1);
}

.border-l-visible {
  position: relative;
}

.border-l-visible::before {
  content: '';
  position: absolute;
  top: 65px;
  left: 0;
  height: 15%; /* Adjust the height of the visible border */
  width: 3px; /* Adjust the width of the visible border */
  background-color: #3300FF; /* Adjust the color of the visible border */
  border-radius: 4px;
}

.textarea {
  border: none; /* Remove default textarea border */
  border-bottom: 1px solid rgb(184, 182, 182); /* Add bottom border */
}

.circle {
  /* margin-top: 2px; */
  width: 20px; /* Set the width of the circle */
  height: 20px; /* Set the height of the circle */
  border-radius: 50%; /* Make the div a circle */
  background-color: #D8D8D8; /* Set the background color to gray */
}
